@model CSGestion.Models.ViewModels.RegistroSolicitudViewModel

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalCenterTitle">Calendario de solicitudes</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        @using (Html.BeginForm("Agregar", "RegistroSolicitud", FormMethod.Post, new { id = "formAgregar" }))
        {
            <div class="modal-body">

                @{ 
                    var asd = Model;
                }


                <div class="row">
                    <div class="col-md-12 mb-3">
                        <label for="IdSector">Sector solicitado</label>
                        @Html.DropDownListFor(m => m.IdSector, Model.SectorList, "Seleccione...", new { @class="form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="FechaHoraInicio">Fecha/Hora inicio</label>
                        <div class="input-group date">
                            @Html.TextBoxFor(m => m.FechaHoraInicio, new { @class = "form-control" })
                            <div class="input-group-addon">
                                @*TODO: mtoroc, por algun motivo no me esta reconociendo las fuentes glyphicon*@
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="FechaHoraFin">Fecha/Hora  fin</label>
                        <div class="input-group date">
                            @Html.TextBoxFor(m => m.FechaHoraFin, new { @class = "form-control" })
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="RutSolicitante">Rut solicitante</label>
                        @Html.TextBoxFor(m => m.RutSolicitante, new { @class="form-control" })
                        @Html.ValidationMessageFor(m => m.RutSolicitante)
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="NombreSolicitante">Nombre</label>
                        @Html.TextBoxFor(m => m.NombreSolicitante, new { @class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="CasaDepto">Casa / Depto</label>
                        @Html.TextBoxFor(m => m.CasaDepto, new { @class = "form-control" })
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="Ubicacion">Ubicación</label>
                        @Html.DropDownListFor(m => m.Ubicacion, Model.UbicacionList, "Seleccione...", new { @class = "form-control" })
                    </div>
                </div>


            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Crear</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        }

    </div>

@section scripts {

}